@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
}

.container {
  grid-template-columns: 1fr 4fr;
}

.left-nav-header {
    grid-auto-flow: column;
    align-items: center;
}

.sidebar {
  grid-column: 1;
  background-color: #1a92d3;
  color: #fff;
  gap: 3rem;
  padding: 20px;
  font-weight: 500;
}

.sidebar .title {
  font-size: 1.5rem;
}

.sidebar ul {
  gap: 1.25rem;
}

.sidebar li {
  display: grid;
  font-size: 1.25rem;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.sidebar li img {
    padding: 0;
    margin: 0;
    height: 1.5rem;
    filter: invert();
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
